body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: forestgreen;
}

h1, h2, p {
    color: whitesmoke;
    text-align: center;
}

a {
    color: #0066cc;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

iframe {
    border: black 1px solid;
    width: 80%;
    height: 250px;
    text-align: right;
}