body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 10px;
    padding: 10px;
    background-color: darkcyan;
}

.frame {
    display: block;
    margin: 0 auto;
    padding: 20px;
    background-color: #333;
    border-radius: 10px;
    border-color: #333;
    border-style: solid;
    border-width: 2px;
    text-align: center;
}

.display {
    display: block;
    justify-content: center;
    align-items: center;
    height: 100vh;
    visibility: false;
    color: whitesmoke;
}


h1, h2, p {
    color: whitesmoke;
    text-align: center;
    align-items: center;
}

a {
    color: #0066cc;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

iframe {
    border: black 1px solid;
    width: 100%;
    height: 500px;
    text-align: right;
}

button {
    display: center;
    margin: 5px;
    padding: 10px 15px;
    background-color: #166ef1;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    align-items: center;
}